.caja{
    width: 250px;
    height: 425px;
    background-color: orange;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /*No entiendo por qué hay margen si no lo agregué (sin contar el padding)*/
    padding: 0px 10px 30px 10px;

}

.caja img{
    width: 200px;
    height: 300px;
    margin-top: -25px;
    background-color: red;
}

.juego01{
    font-size: 30px;
}

.los_cataros{
    font-size: 15px;
}
    